header {
	padding: 100px 0px;
}

body {
  background-image: url("../images/cheers.jpg"), url("../images/rustic.jpg");
  background-size: 100%;
  background-repeat: no-repeat, repeat;
}

#inputArea {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#cityForm {
	padding: 50px 0px;
}

#title {
	font-size: 100px;
	letter-spacing: 3px;
	padding-left: 20px;
	padding-right: 20px;
}

.btn {
	height: 30px;
	padding-top: 5px;
}

#userInput {
	width: 200px;
	padding-left: 10px;
}

#textArea {
	font-size: 17px;
	margin: 50px 0px;
	color: white;
}

#weatherArea, #beerArea {
	border: 1px solid white;
	margin: 30px auto;
	height: 200px;
	color: white;
}

#topBeer {
	margin: 50px 0px;
}

.btn {
	background-color: #337ab7;
	color: white;
}

.btn:hover {
	background-color: lightblue;
	color: black;
}

.body-content {
	font-size: 20px;
}