header {
	padding: 125px 0px;
	background-image: url("../images/cheers.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

body {
  background-image: url("../images/rustic.jpg");
  background-size: 100%;
  background-repeat: repeat;
}

#inputArea {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#zipCodeForm {
	padding: 50px 0px;
}

#title {
	font-size: 115px;
	letter-spacing: 3px;
	padding-left: 20px;
	padding-right: 20px;
}

.btn {
	height: 30px;
	padding-top: 5px;
}

#userInput {
	width: 200px;
	padding-left: 10px;
}

#textArea {
	font-size: 17px;
	margin: 85px 0px;
	color: white;
}

#weatherArea, #beerArea {
	border: 1px solid white;
	margin: 30px auto;
	height: 100px;
	color: white;
}

#topBeer {
	margin: 50px 0px;
}
