header {
	padding: 170px 0px;
}

body {
  min-height: 100vh;
  background-image: url("../images/cheers1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#inputArea {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#zipCodeForm {
	padding: 50px 0px;
}

#title {
	font-size: 100px;
	letter-spacing: 3px;
	padding-left: 20px;
	padding-right: 20px;
}

.btn {
	height: 30px;
	padding-top: 5px;
}

#userInput {
	width: 300px;
	padding-left: 20px;
}

#textArea {
	font-size: 17px;
	margin-bottom: 15px;
	color: white;
}

#weatherArea, #beerArea {
	border: 1px solid black;
	margin: 30px auto;
	height: 100px;
	color: white;
}
